.head .lefthead h1{
    margin: 1vw;
    margin-left: 6vw;
    color: rgb(0, 255, 0);
    font-weight: bolder;
    font-size: 2vw;
    font-style: normal;     
    font-family: 'Protest Revolution';
    text-transform: capitalize;
    position: absolute;
    float: left;
}