.bgd div{
    animation-name: divanim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1.0;
}
@keyframes divanim{
    0%{
        opacity: 0.0;
    }
}
.home{
    display: none;
}
.home.live{
    display: block;
}
.updates.live{
    display: block;
}
.updates{
    display: none;
}
.games.live{
    display: block;
}
.games{
    display: none;
}
.sevengreenid.live{
    display: block;
}
.sevengreenid{
    display: none;
}
.account.live{
    display: block;
}
.account{
    display: none;
}
.loginpage.live{
    display: block;
}
.loginpage{
    display: none;
}