.bgd .updates .area .news button{
    margin: 3vw;
    margin-top: 20px;
    background-color: rgb(69, 69, 255);
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 2.5vw;
    font-family: 'Protest Revolution';
    font-size: 0.8vw;
    border-style: solid;
    border-radius: 0.2vw;
    border-width: 0.1vw;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.bgd .updates .area .news button:hover {
    background-color: black;
    color: rgb(119, 255, 0);
    box-shadow: 0px 0px 10px black;
    border-color: rgb(119, 255, 0);
}