.home .area .area 
{
    margin-top: 30vw;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1.0;
    border: none;
    border-top-style: solid;
    border-top-width: 0.3vw;
    border-top-color: rgb(30, 30, 30);
    box-shadow: 0 -10px 200px rgba(0, 255, 0, 0.5);
    position: absolute;
    animation-name: div56anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes div56anim{
    0%{
        box-shadow: 0 -10px 200px rgba(0, 255, 0, 0.5);
    }
    25%{
        box-shadow: 0 -10px 200px rgba(0, 30, 255, 0.5);
    }
    50%{
        box-shadow: 0 -10px 200px rgba(255, 0, 230, 0.5);
    }
    75%{
        box-shadow: 0 -10px 200px rgba(246, 255, 0, 0.5);
    }
    100%{
        box-shadow: 0 -10px 200px rgba(0, 255, 0, 0.5);
    }
}